<!DOCTYPE html>
<html lang="ja">
<head>
    <title>node app</title>
    <meta charset="UTF-8">
    <link rel=”stylesheet” type="text/css" href="/css/index.css" >
</head>
<body>
    <h1>idnexsss</h1>
    <h1><%= path %></h1>
</body>
</html>
